body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#btnContainer {
  margin: 10px;
}
