body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.box {
  width: 60px;
  height: 70px;
  margin: 1px;
}

.hovering {
  background-color: #ddd;
}
